body {
    display:  flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #1F2937;
}

.subheader {
    display:  flex;
    flex-direction: row;
    color: #F9F8F8;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.logo {
    justify-content: flex-start;
    margin-left: 3rem;
}

.links {
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-grow: 1;
    flex-direction: row;
    width: auto;
    gap: 3rem;
    padding-right: 3rem;
}


.backdrop {
    color: red;
    padding: 1rem 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 0;
    padding-right: 0;
}
    
.backdropHeader {
    display: flex;
    flex-direction: row;
}

.intro {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    width: 50%;
    color: white;
    margin-right: 5rem;
}

.button {
    display: flex;
    background-color: #3882F6;
    color: white;
    width: 10rem;
    height: 4rem;
    border-radius: 10px;
    font-weight: 999;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.rectangle {
    display: flex;
    width: 50%
}

img {
    display: flex;
    flex-grow: 1;
    width: 50%;
    margin-right: 9rem;
    background-color: gray;
}

.backdropTitle {
    display: flex;
    width: 18rem;
    margin: 0px;
    font-size: 48px;
    width: 100%;
}

.backdropSubtext {
    display: flex;
    width: 18rem;
    margin-right: 30px; 
    width: 100%;
    padding-right: 50px;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 17rem;
}

.contentHeader {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
}

.contentBody {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.firstBlock, .secondBlock, .thirdBlock, .fourthBlock {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
    
}

img.square {
    border-style: solid;
    border-width: 1px;
    border-color: #3882F6;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    padding: 10rem 20rem;
}

.quoteBody {
    font-size: 36px;
    font-style: italic;
}

.quoteFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    width: 100%;
    font-size: 20px;
}

.bottom {
    display: flex;
    background-color: white;
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: center;    
}

.bottomBody {
    display: flex;
    background-color: #3882F6;
    border-style: solid;
    border-width: 1px;
    border-color: #3882F6;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    border-radius: 10px;
    flex-direction: row;
    padding: 20px
}

.bottomContent {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: white;

}

.bottomTitle {
    width: 80%;
    display: flex;
    flex-direction: flex-start;
    font-size: 20px;
}

.bottomSubtext {
    width: 100%;
    display: flex;
    flex-direction: flex-start;
    font-size: 15px;
}

.footer {
    background-color: #1F2937;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}